{% macro project_docs(folders) %}
    {% for folder,items in folders %}

    <div class="list-group">
        <div class="list-group-item list-group-header">
            <div class="d-flex w-100 justify-content-between">
                <div class="path"><h2>{{ folder }}</h2></div>
            </div>
        </div>
        {% for className, doc in items %}
            <a class="list-group-item flex-column align-items-start project-doc" data-toggle="collapse" href="#project-doc-{{ folder }}-{{ className }}">
                <div class="d-flex w-100 justify-content-between">
                    <div class="path">
                        <span style="color: #56db3a" class="badge badge-outline" data-toggle="tooltip" data-placement="top" title="{{ doc.description }}">{{ doc.className }}</span>
                    </div>
                    <div class="name">{{ doc.summary }}</div>
                </div>
            </a>

            <div class="collapse" id="project-doc-{{ folder }}-{{ className }}">
                <table class="table">
                    <tbody>
                    {% for docKey, docItem in doc %}
                        {% if docKey == 'methods' %}
                            <tr>
                                <th colspan="2">
                                    <h4>{{ doc.className }}:: Methods</h4>
                                </th>
                            </tr>
                            {% for methodName, methodDoc in docItem %}
                                <tr>
                                    <th colspan="2">
                                        <a data-toggle="collapse" href="#project-doc-{{ folder }}-{{ className }}-{{ methodName }}" >
                                            <h6 style="color: #b729d9">{{ doc.className }}::{{ methodName }}</h6>
                                        </a>
                                    </th>
                                </tr>
                                <tr class="collapse" id="project-doc-{{ folder }}-{{ className }}-{{ methodName }}">
                                    <td colspan="2">
                                        <table class="table-info">
                                            {% for methodDocKey, methodDocItem in methodDoc %}
                                                <tr>
                                                    <th style="color: #767676">{{ methodDocKey }}</th>
                                                    <td>
                                                        {% if methodDocItem is iterable %}
                                                            {% for value in methodDocItem %}
                                                                <li><b> {{ value }}</b></li>
                                                            {% endfor %}
                                                        {% else %}
                                                            {{ methodDocItem }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <th>{{ docKey }}</th>
                            <td>
                                {% if docItem is iterable %}
                                    {% for value in docItem %}
                                        {% if value is iterable %}
                                            {{ dump(value) }}
                                            {% else %}
                                            <li><b> {{ value }}</b></li>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                {{ docItem }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {#
                    <tr>
                        <th>Defaults</th> <td>
                            <ul class="unstyled">
                                {% for key, value in route.defaults %}
                                    <li><b>{{ key }}</b>: {{ value }}</li>
                                {% else %}
                                    (none)
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    #}
                    </tbody>
                </table>
            </div>

        {% endfor %}
    </div>
    {% endfor %}

{% endmacro %}
{% import _self as macros %}

<h1 class="page-title">Project Documents</h1>

<p>These are the routes defined by the application and third-party bundles.</p>
{{ macros.project_docs(project_docs) }}
